* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.outer {
  display: flex;
  width: 100%;
  height: 100vh;
  background-color: rgb(255, 255, 255);
  position: relative;
  overflow: hidden;
}

.tab {
  width: 100%; 
  height: 95vh;
  background-color: rgb(0, 0, 0);
  margin: 20px; 
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  transform: translateY(-100%);
  opacity: 0;
  animation: slideIn 1s forwards;
  transition: box-shadow 0.3s ease-in-out;
}
.tab:hover {
  box-shadow:inset 0 0px 10px rgba(0, 0, 0, 1); /* Box-shadow on hover */
}
.tab img {
  height: 100%;
  width: 150%;
  object-fit: cover;
  transition: transform 0.5s ease-in-out;
}

.tab:hover img {
  transform: scale(1.1);
}

.quote {
  position: absolute;
  background-color: rgb(255, 255, 255);
  width: 50%;
  height: 50vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.5s ease;
}
.quote:hover{
  box-shadow:0 0 20px rgba(0, 0, 0, 0.686) ;
}
.quote-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 100%;
  height: 100%;
  opacity: 0; 
  transition: transform 5s ease-in-out;
}
.quote-content:hover{
  transform: scale(1.1);
}

.quote-content h1 {
  padding: 40px;
  border: 3px solid red;
  border-radius: 27px;
  font-family: "Playfair Display", serif;
  font-weight: 600;
  font-style: normal;
  text-align: center;

}

@keyframes slideIn {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@media only screen and (max-width: 768px) {
  .outer {
    flex-direction: column;
  }

  .tab {
    width: 100%;
    margin: 10px 0;
  }

  .quote {
    width: 80%;
    height: 40vh;
  }

  .quote-content h1 {
    padding: 20px;
  }
}
